<!--要引用springProfile标签，文件必须命名为logback-spring.xml-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="log_patternlayout"
              value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n}"/>
    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
          the key "bySecond" into the logger context. This value will be
          available to all subsequent configuration elements. -->
    <!--<timestamp key="bySecond" datePattern="yyyy-MM-dd HH-mm-ss"/>-->
    <timestamp key="bySecond" datePattern="yyyy-MM-dd"/>

    <springProfile name="dev">
        <appender name="LOG" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
       <!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />
        <logger name="org.hibernate.SQL" level="DEBUG" />
        <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
        <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />-->
    </springProfile>

    <springProfile name="prod">
        <appender name="LOG" class="ch.qos.logback.core.FileAppender">
            <file>d:/log-${bySecond}.log</file>
            <append>true</append>  <!--默认是true-->
            <encoder>
                <pattern>${log_patternlayout}</pattern>
            </encoder>
        </appender>
        <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
        <!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />
         <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />
         <logger name="org.hibernate.SQL" level="DEBUG" />
         <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
         <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />-->
    </springProfile>

    <root level="INFO">
        <appender-ref ref="LOG"/>
    </root>
</configuration>