<!--要引用springProfile标签，文件必须命名为logback-spring.xml-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="log_patternlayout"
              value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n}"/>
    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
          the key "bySecond" into the logger context. This value will be
          available to all subsequent configuration elements. -->
    <!--<timestamp key="bySecond" datePattern="yyyy-MM-dd HH-mm-ss"/>-->
    <timestamp key="bySecond" datePattern="yyyy-MM-dd"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>d:/log-${bySecond}.log</file>
        <append>true</append>  <!--默认是true-->
        <encoder>
            <pattern>${log_patternlayout}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <springProfile name="dev">
        <logger name="org.andy.logback.sample2.service.entity" level="DEBUG" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="org.andy.logback.sample2.service.entity" level="WARN" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        <logger name="org.andy.logback.sample2.service.entity" level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
</configuration>