<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="log_patternlayout"
              value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n}"/>
    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
          the key "bySecond" into the logger context. This value will be
          available to all subsequent configuration elements. -->
    <timestamp key="bySecond" datePattern="yyyy-MM-dd HH-mm-ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>d:/log-${bySecond}.txt</file>
        <append>true</append>  <!--默认是true-->
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${log_patternlayout}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
<!--additivity false时，org.andy.logback.service包下的日志只会在file中，而不会在STDOUT中-->
    <logger name="org.andy.logback.service" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>